<html lang="en">
    <body>
        <h1>Media</h1>

        <p>All our media files are here.</p>

        <h2>Pixels</h2>


        <ul>
        {% for post in site.pixels %}
            <li>
                <a href="{{ post.url }}">{{ post.url }}</a>
            </li>
        {% endfor %}
        </ul>

        <h2>Vectors</h2>

        <ul>
        {% for post in site.vectors %}
            <li>
                <a href="{{ post.url }}">{{ post.url }}</a>
            </li>
        {% endfor %}
        </ul>

        <footer>
        <p>By <a href="https://bullg.it">bullgit</a></p>
        </footer>
    </body>
</html>


